@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  background-color: #f5f5f5;
  padding: 0.25rem;
  border-radius: 4px;
  font-family: monospace;
}

pre code {
  font-family: default;
  display: block;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}